.close {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5c5c5c;
    border: none;
    border-radius: 100px;

    cursor: pointer;

    transition: 0.3s ease;

    &:hover {
        background-color: #333;
    }

    &:active {
        background-color: #111;
    }
}
